h1 {
    font-size: 40px;
    font-family: 'Libre Baskerville', serif;
    margin-bottom: 0px;
    text-align: center;
  }
  h4{
      padding-left: 22px;
  }
  h5{
    padding-left: 22px;
}
.list{
    
    padding-left: 25px;
    font-size:18px;
}
.list1{
  padding-left:130px;
}
  form p {
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    margin: 50px 0 20px; 
    line-height: 1.6;
  }
  form p,
  label[for="comfort"],
  label[for="explain"] {
    padding-bottom: 6px;
    /* border-bottom: 2.5px solid #00BF8F; */
  }
  section {
    background: #ffffff;
    padding: 20px 0;
  }
  body {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    background-image: url("bg.JPG");
  }
  header {
    position: relative;
    padding: 0px 0px 17px;
    color: #fff;
    background-size: cover;
    background-position: bottom;
    background-color: #28a745;
  }
/* form */
  
  select {
    display: block;
    margin-bottom: 50px;
  }
  
  label[for="comfort"],
  label[for="explain"]{
    display: block;
    margin-bottom: 20px;
    font-family: 'Libre Baskerville', serif;
    font-size: 18px;
    line-height: 1.6;
  }
  input,select[type="text"],
  textarea {
    width: 50%;
    padding: 6px;
    font-size: 16px;
    border: 1px solid black;
    background: white;
    margin-bottom: 50px;
  }
  input[type="text"]{
    width: 50%;
  }
  
  textarea {
    min-height: 100px;
  }
  input[type="submit"] {
    display: block;
    margin: 20px auto 50px;
    height: 34px;
    width: 125px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.5px;
    background: #28a745;
    border: 0px solid;
    color: #fff;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 1.25px;
  }
  input[type="submit"]:hover {
    background:  #28a745;
    cursor: pointer;
  }
  section
  {
      background-image: url(bg.JPG);
      background-color: darkgray;
  }

  











  